.mainPage {
  width: 100%;
  height: 100%;
}
.backgroundStyle {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.backgroundStyle::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("../media/sportsArena.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: -1;
}
